/* add a right padding */

.add-right-pad{
	padding-right: 5px;
}

.add-under-line{
	text-decoration: underline;
}


.check-sidebar {
	display: none;
}

@media (max-width: 768px)
{
	.check-sidebar {
		display: block;
	}
}

.text-nowrap{
	white-space: nowrap;
}

.pad-bottom{
	margin-top:10px;
}

.pad-bottom2{
	margin-top:15px;
}

.cust-mar{
	padding-right: 15px;
}

.cust-margin{
	padding-right: 12px;
	padding-left: 12px;
}