/* add a right padding */

.add-right-pad{
    padding-right: 5px;
}

.add-under-line{
    text-decoration: underline;
}


.check-sidebar {
    display: none;
}

@media (max-width: 768px)
{
    .check-sidebar {
        display: block;
    }
}

.text-nowrap{
    white-space: nowrap;
}

.top-padding{
    padding-top: 40px;
}


.top-padding-details-page{
    padding-top: 400px;
}


.details-image{
    padding-top :350px;
    background-image: url('../../../experiment/paper_img/Conception.jpg');
    background-position: center center;
    background-size: cover;
    height: 10px;
    overflow: hidden;
    position: absolute;
    width: 100%;
}

.padding-admin{
    padding-top: 10px;
}

.alert-cust{
    background-color:#7A9E9F !important;
    color: #252e30 !important;
    align-self: center;
    width : 85%;
}
.details-cust-bg{
    background-image: url('../../../experiment/paper_img/bg-4.jpg');
}

.details-cust-trans{
    background-color: transparent;
}

.details-padding{
    padding-right: 3%;
    padding-left: 3%;
text-align: center;
}

.little-padding{
    padding-right: 1%;
    padding-left: 1.5%;
    padding-color:#FFFCF5;
}

.footer{
    background-color: black;
    width: 100%;
    bottom: 0;
    position: fixed;
}

.h10{
    font-size:10px;
    color:white;
    font-style: italic;
    font-weight: 100;
}

.trans{
    background-color: transparent;
}

.const-app{
    -webkit-appearance: none;
}

.footer-padding{
    margin-top: 10px;
}
.f{
    margin-bottom: 15px;
}

.cust-col{
    float:left;
    overflow-y: hidden;
}

.bord{
    border:4px solid aliceblue;
    height: 370px;
    width: 370px;
    text-align: center;
    float: left;
    alignment: center;
    position:fixed;

}

.pad-top{
    margin-top: 2px;
}

.pad-bottom{
    margin-bottom:10px;
}

.header-left-margin{
    margin-left: 10px;
}

.upper{
    text-transform: uppercase !important;
}

.desc-cust{
    color: black;
    font-family: Cambria;
    text-align: justify ;
}

.pull{
    float: right;
}
