<html>
<body ng-controller="FavouriteEventsController">

<div class="container-fluid">
    <div class="row">
        <h1 class="page-header">Your Favourite Events</h1>

        <div ng-show="model.message" class="alert alert-success" role="alert">
            {{model.message}}
        </div>

        <table class="table table-responsive table-stripped">
            <tr>
                <th class="text no-wrap">EventName</th>
                <th>Unlike</th>
                <th>Unbookmark</th>
            </tr>

            <tr ng-repeat="eve in model.favEvents">
                <td>{{eve.eName}}</td>
                <td>
                    <a ng-click="model.unlike($index)" class="btn btn-primary glyphicon glyphicon-star-empty" ></a>
                </td>
                <td>
                    <a ng-click="model.uncomment($index)" class="btn btn-primary glyphicon glyphicon-bookmark"></span></a></td>
                </td>
            </tr>

        </table>



    </div>
</div>
</body>
</html>

