<html>
<body ng-controller="ProfileController">
<div class="wrapper font-cust">
    <div class="profile-background"></div>
      <div class="profile-content section-new-background">
        <div class="container font-cust">
            <div class="row owner" style="padding-top: 10px">

                <div class="col-md-2 col-md-offset-5 col-sm-4 col-sm-offset-4 col-xs-6 col-xs-offset-3 text-center">
                    <div class="avatar">
                       <!-- <img src="../client/views/assets/paper_img/icon-user-default.png" alt="Circle Image" class="img-circle img-no-padding img-responsive"> -->
                        <img src="http://lorempixel.com/400/400/people/" alt="Circle Image" class="img-circle  img-responsive">
                    </div>

                    <div class="name text-center" >
                        <h4>{{model.displayName}}</h4>
                    </div>
                </div>

            </div>

            <div class="row">
                <div ng-show="model.message" class="alert alert-success">{{model.message}}</div>
                <div class="container centered">
                    <br />
                    <table class="table col-md-1 col-md-offset-0 col-sm-4 col-sm-offset-3 font-cust">
                        <thead>

                        </thead>
                        <tbody>
                        <tr>
                            <td style="border-top: none; font-size:15px">
                                <b>Firstname</b>
                            </td>
                            <td style="border-top: none ; font-size:15px">
                                {{model.firstName}}
                            </td>
                        </tr>
                        <tr>
                            <td style="border-top: none ; font-size:15px">
                                <b>Lastname</b>
                            </td>
                            <td style="border-top: none ; font-size:15px">
                                {{model.lastName}}
                            </td>
                        </tr>
                        <tr>
                            <td style="border-top: none ; font-size:15px">
                                <b>Email</b>
                            </td>
                            <td style="border-top: none ; font-size:15px">
                                {{model.emails}}
                            </td>
                        </tr>
                        </tbody>
                    </table>


                    <div>
                        <btn ng-show="model.loggedInUser == model.viewProfileOfUser" style="margin-left: 15px" ng-click="model.beginEdit()"
                             class="btn"><i class="fa fa-cog"></i> <b>Edit</b> </btn>
                        <btn ng-show="model.loggedInUser != model.viewProfileOfUser" ng-click="model.followUser()" class="btn"><b> Follow </b></btn>

                    </div>

                    <br>
                    <div ng-show="model.userdetailsedit">
                        <!--<br>-->
                        <table class="table table-bordered">
                            <thead>

                            </thead>
                            <tbody>

                            <tr>
                                <td style="padding-top: 18px; font-size:15px"><b>User Name</b></td>

                                <td class="text-center">
                                    <input type="text"  class="form-control box-style" ng-model="model.usernameNew">
                                </td>

                            </tr>

                            <tr>
                                <td style="padding-top: 18px; font-size:15px"><b>Password</b></td>

                                <td class="text-center">
                                    <input type="password"  class="form-control box-style" ng-model="model.passwordNew">
                                </td>

                            </tr>

                            <tr>
                                <td style="padding-top: 18px; font-size:15px"><b>First Name</b></td>

                                <td class="text-center">
                                    <input placeholder= "Your Firstname" type="text"  class="form-control box-style" ng-model="model.firstNameNew">
                                </td>

                            </tr>
                            <tr>
                                <td style="padding-top: 18px; font-size:15px"><b>Last Name</b></td>
                                <td>
                                    <input placeholder= "Your Lastname" type="text" class="form-control box-style" ng-model="model.lastNameNew">
                                </td>
                            </tr>
                            <tr>
                                <td style="padding-top: 18px; font-size:15px"><b>Email</b></td>
                                <td>
                                    <input placeholder = "Your emails" type="text" class="form-control box-style" ng-model="model.emailsNew">
                                </td>
                            </tr>

                            <tr>
                                <td style="padding-top: 18px; font-size:15px"><b>Image</b></td>
                                <td>
                                    <input type="file" id="image" ng-model="model.imageNew">
                                </td>
                            </tr>
                            <tr>
                                <td>

                                </td>
                                <td>
                                    <button ng-click="model.save(model.usernameNew,model.passwordNew,model.firstNameNew,
                                    model.lastNameNew,model.emailsNew,model.imageNew)"
                                            type="button" class="btn btn-default" aria-label="Left Align">
                                        <!--<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>-->
                                        <b>Save</b>
                                    </button>
                                    &nbsp;&nbsp;
                                    <button ng-click="model.cancelEdit()" type="button" class="btn btn-default"
                                            aria-label="Left Align">
                                        <b>Cancel</b>
                                    </button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!--<br>-->
            <!--<br>-->
            <div>
                <!--<button type="button" class="btn btn-default" ng-click="isCollapsedtrips = !isCollapsedtrips">My Trips</button>-->

                <div>
                    <div>
                        <div>
                            <tr>
                                <td colspan="2">
                                    <hr style=" color:black; height:4px; background-color:black" />
                                </td>
                            </tr>

                            <tr>
                                <th>
                                    <h4 ng-if="model.loggedInUser == model.viewProfileOfUser">Your Followers</h4>
                                    <h4 ng-if="model.loggedInUser != model.viewProfileOfUser">Followers of {{model.displayName}}</h4>
                                </th>
                            </tr>
                            <table class="table table-bordered">
                                <thead>
                                </thead>
                                <tbody>
                                <tr ng-repeat="follower in model.myFollowers">
                                    <td style="padding-top: 13px"><a href="#/profile/{{follower.follower}}"><b><i>{{follower.followerName}}</i></b></a></td>
                                </tr>
                                </tbody>
                            </table>

                            <tr>
                                <th>
                                    <h4 ng-if="model.loggedInUser == model.viewProfileOfUser">You are Following</h4>
                                    <h4 ng-if="model.loggedInUser != model.viewProfileOfUser">{{model.displayName}} is Following</h4>
                                </th>
                            </tr>
                            <table class="table table-bordered">
                                <thead>
                                </thead>
                                <tbody>
                                <tr ng-repeat="follow in model.iFollow">
                                    <td style="padding-top: 13px"><a href="#/profile/{{follow.userId}}"><b><i>{{follow.userName}}</i></b></a></td>
                                    <td ng-if="model.loggedInUser == model.viewProfileOfUser">
                                        <button ng-click="model.unFollowUser(follow.userId)" type="button" class="btn btn-default" aria-label="Left Align">
                                        <b>Unfollow</b>
                                    </button>  </td>
                                </tr>
                                </tbody>
                            </table>

                           <div ng-show="model.loggedInUser != model.viewProfileOfUser">
                            <tr>
                                <th>
                                    <h4>{{model.displayName}}'s own events</h4>
                                </th>
                            </tr>
                            <table class="table table-bordered">
                                <thead>
                                </thead>
                                <tbody>
                                <tr ng-repeat="event in model.userEvents">
                                    <td style="padding-top: 13px"><a href="#/details/db/{{event._id}}"><b><i>{{event.eName}}</i></b></a></td>
                                </tr>
                                </tbody>
                            </table>
                               </div>
                        </div>
                    </div>
                </div>
                <div ng-if="!isCollapsedtrips">
                    <br>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="footer">
    <h10>&copy; 2016, made by Swayambita Das</h10>
</div>

</div>
</body>
</html>