<html>
<body ng-controller="DetailsController">
<div class="section section-gray text-center landing-section" style="padding-top: 50px">
<div ng-show="model.message" class="alert alert-success">{{model.message}}</div>
    <image ng-show="model.fetch == 'api'" height="300px" width=100% ng-src="{{model.image}}"></image>
    <image ng-show="model.fetch == 'db'" height="300px" width=100% ng-src="../client/views/assets/paper_img/search-default.jpg"></image>

<h4>{{model.detailName}}</h4>
<p>{{model.desc}}</p>
    <div>  </div>

<div class="form form-group form-inline">
    <button ng-click="model.likeEvent()" class="btn btn-primary glyphicon glyphicon-star">Like</button>
    <button ng-click="model.bookmarkEvent()" class="btn btn-primary glyphicon glyphicon-bookmark">Bookmark</button>

</div>

    <div class="main">
        <div class="section section-dark text-center landing-section" style="padding-top: 50px">
            <div class="container-fluid">
                <h2>Other users who also liked this event </h2>
                <div ng-repeat="user in model.allUsersWhoLikedThis" ng-if="user.userId != model.userId ">
                    <div class="col-md-3">
                        <div class="team-player">
                            <a href="#/profile/{{user.userId}}"><img src="../client/views/assets/paper_img/icon-user-default.png" alt="Thumbnail Image" class="img-circle img-responsive"></a>
                            <h5 style="margin-bottom: 5px"><a href="#/profile/{{user.userId}}">{{user.username}}</a></h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

</body>
</html>