<html>
<body ng-controller="DetailsController">
<div class="section section-gray text-center landing-section" style="padding-top: 50px">
<div ng-show="model.message" class="alert alert-success">{{model.message}}</div>
    <image ng-show="model.fetch == 'api'" height="300px" width=80% ng-src="{{model.image}}" class="img-rounded"
           style="border:5px solid white"></image>
    <image ng-show="model.fetch == 'db'" height="300px" width=80% ng-src="../client/views/assets/paper_img/search-default.jpg"
           class="img-rounded" style="border:5px solid white"></image>

    <div class="section-homepage details-padding">
      <h4 style="color:black">{{model.detailName }}</h4>
        <h5 style="color:black"><b>Starts on : </b>{{model.start | date : hh:mm}}</h5>
        <h5 style="color:black"><b>Ends on : </b>{{model.end | date : hh:mm}}</h5>
        <p class="desc-cust">{{model.desc}}</p>
    <div>  </div>

<div class="form form-group form-inline">
    <button ng-click="model.likeEvent()" class="btn btn-primary glyphicon glyphicon-star">Like</button>
    <button ng-click="model.bookmarkEvent()" class="btn btn-primary glyphicon glyphicon-bookmark">Bookmark</button>
</div>
</div>

    <div class="main">
        <div class="section section-dark text-center landing-section" style="padding-top: 50px">
            <div class="container-fluid">
                <h4>Other users who also like this event </h4>
                <div ng-repeat="user in model.allUsersWhoLikedThis" ng-if="user.userId != model.userId ">
                    <div class="col-md-3">
                        <div class="team-player">
                            <a href="#/profile/{{user.userId}}"><img src="http://lorempixel.com/400/400/people/" alt="Thumbnail Image" class="img-circle img-responsive"></a>
                            <h5 style="margin-bottom: 5px"><a href="#/profile/{{user.userId}}">{{user.username}}</a></h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

</body>
</html>