<body ng-controller="AdminController">

<div class="container-fluid">
    <div class="row">

        <h1>Admin</h1>
        <h3>Users</h3>
        <div ng.show="model.alertMessage" class="alert alert-success" role="alert">
           {{model.alertMessage}}</div>
      <table class="table table-responsive table-striped">
          <tr>
              <th bgcolor="gray">
                  <a href="#"><span class="glyphicon glyphicon-triangle-bottom"></span></a>
                  Username
              </th>

              <th bgcolor="gray">
                  <a href="#"><span class="glyphicon glyphicon-triangle-bottom"></span>
                  </a>
                  Password
              </th>

              <th bgcolor="gray">
                  <a href="#"><span class="glyphicon glyphicon-triangle-bottom"></span></a>
                  Action
              </th>
          </tr>

          <tr>
              <td> <input type="text" placeholder="username" class="form-control"
                          ng-model="model.username"></td>
              <td> <input type="text" placeholder="password" class="form-control"
              ng-model="model.password"></td>
              <td class="text-nowrap">
                  <button type="button" class="btn btn-primary add-right-pad">
                      <span class="glyphicon glyphicon-plus" ng-click="model.addUser(model.username,model.password)"></span>
                  </button>
                  <button type="button" class="btn btn-success" ng-click="model.updateUser(model.username,model.password)">
                      <span class="glyphicon glyphicon-ok"></span>
                  </button></td>
          </tr>

          <tr ng-repeat="user in model.allUsers">
              <td>{{user.username}}</td>
              <td>{{user.password}}</td>
              <td class="text-nowrap">
                  <button type="button" class="btn btn-danger add-right-pad" ng-click="model.deleteUser($index)">
                      <span class="glyphicon glyphicon-remove"></span>
                  </button>
                  <button type="button" class="btn btn-info add-right-pad" ng-click="model.selectUser($index)">
                      <span class="glyphicon glyphicon-pencil"></span>
                  </button>
              </td>
          </tr>

     </table>
    </div>
</div>

</body>
</html>

