<html>

<body>
<div ng-controller="SearchController">
    <div class="wrapper">
       <div class="search-background">
            <div class="search-content">
                <div>
                    <div class="container">
                        <div class="row">
                            <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 col-xs-10 col-xs-offset-1 ">
                                <div class="search-card">
                                    <h3 class="title">Search</h3>
                                    <form class="register-form">

                                        <input ng-model="model.category" type="text" class="form-control" placeholder="Music/Business/Sport">
                                        <br>
                                        <input ng-model="model.location" type="text" class="form-control" placeholder="Enter your city: Boston">

                                        <a ng-click="model.searchEvent(model.category,model.location)" class="btn btn-primary btn-block">Search</a>
                                        <br>

                                        <div class="load-image-align" ng-show="model.searchLoading"><image class="img-rounded" height="115px" width="130px" src="../client/views/assets/paper_img/search.gif"></image></div>

                                    </form>
                                </div>

                             <!--   <div ng-show="model.searchResult" class ="alert alert-danger alert-cust"><strong>Scroll down for your results</strong></div> -->


                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div ng-show="model.searchResult" class="top-padding details-cust-bg" >
            <div class="container details-cust-trans">
                <div class="row" >
                        <h3 class="header-left-margin upper" styleclass="text-uppercase"><b>{{model.eventToSearch}} Events in {{model.eventLocation}}<b></b></h3>
                        <div>
                            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12  cust-col bord" ng-repeat="event in model.dbSearch">

                                    <div class="pad-top">
                                      <a href="#/details/db/{{event._id}}">
                                        <image class="img-rounded" height="250px" width="260px" src="../client/views/assets/paper_img/search-default.jpg"></image>
                                      </a>
                                    </div>

                                    <div>
                                        <a href="#/details/db/{{event._id}}">{{event.eName}}</a>
                                    </div>

                                    <div>
                                        <label>{{event.sDate | date : hh:mm}}</label>
                                    </div>
                            </div>
                        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12  cust-col bord" ng-repeat="event in model.searchResult">
                                <div class="pad-top">
                                    <a href="#/details/api/{{event.id}}">
                                    <image class="img-rounded" height="250px" width="250px" src="{{event.listed}}"></image>
                                    </a>
                                </div>

                                <div>
                                    <a href="#/details/api/{{event.id}}">{{event.name.text}}</a>
                                </div>

                                <div>
                                    <label>{{event.start.local | date : hh:mm}}</label>
                                </div>
                        </div>

                        </div>
                </div>
            </div>
        </div>
        <div class="footer">
            <h10>&copy; 2016, made by Swayambita Das</h10>
        </div>
    </div>
</div>
</body>
</html>
