<html>
<body ng-controller="CreateEvent">
<div class="wrapper">
    <div class="profile-background"></div>
    <div class="profile-content section-new-background  little-padding">
        <div class="container">
            <div class="row owner" style="padding-top: 10px">
            </div>

            <div class="row">
                <h4 class="page-header">Create your event here</h4>
                <div ng-show="model.message" class="alert alert-success" role="alert">{{model.message}}</div>

                <table class="table table-bordered table-responsive">
                    <thead>
                    </thead>
                    <tbody>

                    <tr>
                        <td style="padding-top: 18px; font-size:15px">
                            <b>Event Name</b>
                        </td>

                        <td class="text-center">
                            <input  type="text"  class="form-control box-style" ng-model="model.event.Name">
                        </td>

                    </tr>

                    <tr>
                        <td style="padding-top: 18px;font-size:15px">
                            <b>Venue</b></td>

                        <td class="text-center">
                            <input type="text"  class="form-control box-style" ng-model="model.event.location">
                        </td>

                    </tr>

                    <tr>
                        <td style="padding-top: 18px;font-size:15px">
                            <b>Starts</b>
                        </td>


                        <td class="text-center">
                            <div>  <input type="date"  class="form-control box-style const-app" ng-model="model.event.startDate">  </div>
                            <br>
                            <div>   <input type="time"  class="form-control box-style const-app" ng-model="model.event.startTime"> </div>

                        </td>


                    </tr>
                    <tr>
                        <td style="padding-top: 18px;font-size:15px">
                            <b>Ends</b>
                        </td>

                        <td class="text-center const-app">
                            <input type="date"  class="form-control box-style const-app" ng-model="model.event.endDate">
                            <br>
                            <input type="time"  class="form-control box-style const-app" ng-model="model.event.endTime">
                        </td>
                    </tr>

                    <tr>
                        <td style="padding-top: 18px;font-size:15px">
                            <b>Description</b>
                        </td>
                        <td>
                            <textarea class="form-control box-style" ng-model="model.event.desc"></textarea>
                        </td>
                    </tr>


                    <tr>
                        <td style="padding-top: 18px;font-size:15px">
                            <b>Genre</b>
                        </td>
                        <td>
                            <input type="text"  class="form-control box-style" ng-model="model.event.genre">
                        </td>
                    </tr>

                    <tr>
                        <td style="padding-top: 18px;font-size:15px">
                            <b>Image</b>
                        </td>
                        <td>
                            <input type="file" id="image" ng-model="model.event.image">
                        </td>
                    </tr>
                    <tr>
                        <td>

                        </td>
                        <td>
                            <button ng-click="model.createEvent(model.event)"
                                    type="button" class="btn btn-default" aria-label="Left Align">
                                <!--<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>-->
                                <b>Create</b>
                            </button>
                            &nbsp;&nbsp;
                            <button ng-click="model.cancel()" type="button" class="btn btn-default" aria-label="Left Align">
                                <b>Cancel</b><!--<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>-->
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="footer">
        <h10>&copy; 2016, made by Swayambita Das</h10>
    </div>
</div>
</body>
</html>