<html>
<body ng-controller="CreateEvent">
<div class="wrapper">

    <div class="profile-background"></div>
    <div class="profile-content section-nude">
        <div class="container">
            <div class="row owner" style="padding-top: 10px">

            </div>

            <div class="row">
                <h4 class="page-header">Create your event here</h4>
                <div ng-show="model.message" class="alert alert-success" role="alert">{{model.message}}</div>

                <table class="table table-bordered">
                    <thead>

                    </thead>
                    <tbody>

                    <tr>
                        <td style="padding-top: 18px">Event Name</td>

                        <td class="text-center">
                            <input style="border:1px " type="text"  class="form-control" ng-model="model.event.Name">
                        </td>

                    </tr>

                    <tr>
                        <td style="padding-top: 18px">Location</td>

                        <td class="text-center">
                            <input style="border:1px " type="text"  class="form-control" ng-model="model.event.location">
                        </td>

                    </tr>

                    <tr>
                        <td style="padding-top: 18px">Starts</td>


                        <td class="text-center">
                            <div>  <input style="border:1px " type="date"  class="form-control" ng-model="model.event.startDate">  </div>
                            <div>   <input style="border:1px " type="time"  class="form-control" ng-model="model.event.startTime"> </div>

                        </td>


                    </tr>
                    <tr>
                        <td style="padding-top: 18px">Ends</td>

                        <td class="text-center">
                            <input style="border:1px " type="date"  class="form-control" ng-model="model.event.endDate">
                            <input style="border:1px " type="time"  class="form-control" ng-model="model.event.endTime">
                        </td>
                    </tr>

                    <tr>
                        <td style="padding-top: 18px">Description</td>
                        <td>
                            <textarea class="form-control" ng-model="model.event.desc"></textarea>
                        </td>
                    </tr>


                    <tr>
                        <td style="padding-top: 18px">Genre</td>
                        <td>
                            <input style="border:1px " type="text"  class="form-control" ng-model="model.event.genre">
                        </td>
                    </tr>

                    <tr>
                        <td style="padding-top: 18px">Image</td>
                        <td>
                            <input type="file" id="image" ng-model="model.event.image">
                        </td>
                    </tr>
                    <tr>
                        <td>

                        </td>
                        <td>
                            <button ng-click="model.createEvent(model.event)"
                                    type="button" class="btn btn-default" aria-label="Left Align">
                                <!--<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>-->
                                Create
                            </button>
                            &nbsp;&nbsp;
                            <button ng-click="model.cancel()" type="button" class="btn btn-default" aria-label="Left Align">
                                Cancel<!--<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>-->
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</body>
</html>